
.App {
  text-align: left;
}
.bg-danger{
  background: linear-gradient(45deg, darkslategray, red);
}
.bg-warning{
  background: linear-gradient(45deg, darkslategray, orange);
}
.bg-success{
  background: linear-gradient(45deg, darkslategray, limegreen);
}
.bg-info{
  background: linear-gradient(45deg, darkslategray, cornflowerblue);
}
.bg-secondary{
  background: linear-gradient(45deg, darkslategray, purple);
}
.bg-primary{
  background: linear-gradient(45deg, darkslategray, rgb(41, 110, 247));
}

.landing
{
  background: white url('Assets/Employees/Emp2.jpg') no-repeat scroll center;
  background-size: cover;
  height: 100vh;
}

.wrapper
{
  height: 100%;
  background-color: rgba(38, 67, 101, 0.6);
  color: white;
}